<h1>Games#score</h1>
<p>Find me in app/views/games/score.html.erb</p>
<ul>
  <% @grid.letters.each do |letter|%>
  <li><%=letter%></li>
  <%end%>
</ul>
<h3>your word : <%=@attempt.word%> means "<%=@traduction%>"</h3>
<h2>your score : <%=@score%></h2>
<h2>bonus points = <%=@bonus_point%></h2>
<%= link_to "Retour", :back %>
